:root {
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --title-text-color: #303030;
  --white-theme-text-color: #555555;
  --dark-theme-text-color: #9da4bd;
  --accent-color: rgba(134, 187, 42, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
  .about .container {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.btn {
  width: 160px;
  height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
}

.btn--dark-theme {
  color: #fff;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
}

.subtitle::before {
  display: inline-block;
  content: '';
  margin-right: 20px;
  width: 60px;
  height: 1px;
}

.subtitle--dark-theme {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle--dark-theme::before {
  background: rgba(157, 164, 189, 0.6);
}

.subtitle--light-theme::before {
  background: var(--title-text-color);
}

.title {
  margin-bottom: 44px;
  font-family: var(--title-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.title--dark-theme {
  color: #fff;
}

.description {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.description--dark-theme {
  color: var(--dark-theme-text-color);
}

.description--light-theme {
  color: var(--white-theme-text-color);
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
}

.logo {
  width: 75px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 54px;
  }
}

.burger__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger__button:hover, .burger__button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger__button {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%) translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0) translateX(0);
}

.mobile-menu__backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu__menu {
  width: 338px;
  padding-top: 118px;
  padding-left: 40px;
  background-color: #fff;
}

.mobile-menu__btn-close {
  position: absolute;
  top: 48px;
  right: 31px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu__btn-close:hover, .mobile-menu__btn-close:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn-close {
    display: none;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__item:last-child {
  margin-bottom: 64px;
}

.mobile-menu__link {
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__tel {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.mobile-menu__btn-modal {
  width: 194px;
  margin-bottom: 52px;
  background-color: #fff;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-links::before {
  display: inline-block;
  flex-shrink: 0;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-text-color);
  margin-right: 40px;
}

.social-links__item:last-child {
  margin-left: 100px;
}

.social-links__link {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item {
    margin-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .navigation__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.navigation__tel:hover, .navigation__tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__tel {
    padding-top: 20px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: var(--title-text-color);
  }
}

.hero {
  padding-top: 208px;
  background-color: rgba(134, 187, 42, 0.05);
  height: 580px;
  margin: 0 auto;
}

.hero__left-side {
  display: none;
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--title-font);
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.hero__description {
  max-width: 306px;
}

.about__title {
  margin-bottom: 20px;
  max-width: 330px;
  font-family: var(--title-font);
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.about__description {
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--white-theme-text-color);
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    margin-right: 35px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    width: 330px;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 30px;
}

.services {
  background-color: #111319;
  background-image: url(../images/services/img-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
  height: 826px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url(../images/services/img-mobile@2x.png);
  }
}

.services__list {
  margin-bottom: 50px;
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services__item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--dark-theme-text-color);
}

.services__item:not(:last-child) {
  margin-bottom: 20px;
}

.services__btn {
  display: block;
  margin: 0 auto;
}

.advantages {
  background-color: rgba(134, 187, 42, 0.05);
}

.advantages__title {
  margin-bottom: 20px;
}

.advantages__description {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.advantages__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 22px;
  padding-left: 22px;
  min-height: 133px;
  background: #ffffff;
  text-align: center;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0em;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.advantages__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: var(--accent-color);
}

.advantages__item--first {
  color: #144786;
  fill: #144786;
}

.advantages__item--second {
  color: #664375;
  fill: #664375;
}

.advantages__item--third {
  color: #b40560;
  fill: #b40560;
}

.advantages__item--fourth {
  color: #ee0d31;
  fill: #ee0d31;
}

.advantages__item--fifth {
  color: #fb7208;
  fill: #fb7208;
}

.advantages__item--sixth {
  color: #86bb2a;
  fill: #86bb2a;
}

@media screen and (min-width: 768px) {
  .masters__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .masters__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .masters__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters__wrapper {
  padding-top: 30px;
  text-align: center;
}

.masters__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.masters__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--accent-color);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__link:hover,
.social__link:focus {
  fill: var(--accent-color);
}

.gallery {
  background-color: rgba(134, 187, 42, 0.05);
}

.gallery-box {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 4px;
}

@media screen and (min-width: 768px) {
  .gallery-box {
    grid-gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.gallery__title {
  visibility: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.gallery__item:focus, .gallery__item:hover {
  transform: scale(1.9);
}

@media screen and (min-width: 768px) {
  .gallery__item:focus, .gallery__item:hover {
    transform: scale(1.7);
  }
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 768px) {
  .gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}

.gallery__item--3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (min-width: 768px) {
  .gallery__item--3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9;
  }
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (min-width: 768px) {
  .gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
  }
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .gallery__item--5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
  }
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
  }
}

.gallery__item--7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 768px) {
  .gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
  }
}

.gallery__item--8 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

@media screen and (min-width: 768px) {
  .gallery__item--8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}

.gallery__item--9 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

@media screen and (min-width: 768px) {
  .gallery__item--9 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
  }
}

.gallery__item--10 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

@media screen and (min-width: 768px) {
  .gallery__item--10 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

.address-list {
  margin-bottom: 44px;
}

.address__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--white-theme-text-color);
  fill: var(--white-theme-text-color);
}

.address__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.footer .social-links__item:last-child {
  margin-left: 44px;
}
/*# sourceMappingURL=main.css.map */