.advantages {
  background-color: rgba(134, 187, 42, 0.05);
}

.advantages__title {
  margin-bottom: 20px;
}

.advantages__description {
  margin-bottom: 44px;

  @include font(18px, 30px, 0.02em, 400);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 22px;
  padding-left: 22px;
  min-height: 133px;
  background: #ffffff;
  text-align: center;
  @include font(11px, 15px, 0em, 400);
  border: 1px solid;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.advantages__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: var(--title-text-color);
}

.advantages__item--first {
  border-color: rgba(20, 71, 134, 1);
}

.advantages__item--second {
  border-color: rgba(102, 67, 117, 1);
}
.advantages__item--third {
  border-color: rgba(180, 5, 96, 1);
}
.advantages__item--fourth {
  border-color: rgba(238, 13, 49, 1);
}

.advantages__item--fifth {
  border-color: rgba(251, 114, 8, 1);
}

.advantages__item--sixth {
  border-color: rgba(134, 187, 42, 1);
}

// .advantages__item--first {
//   color: rgba(20, 71, 134, 1);
//   fill: rgba(20, 71, 134, 1);
// }
// .advantages__item--second {
//   color: rgba(102, 67, 117, 1);
//   fill: rgba(102, 67, 117, 1);
// }
// .advantages__item--third {
//   color: rgba(180, 5, 96, 1);
//   fill: rgba(180, 5, 96, 1);
// }
// .advantages__item--fourth {
//   color: rgba(238, 13, 49, 1);
//   fill: rgba(238, 13, 49, 1);
// }

// .advantages__item--fifth {
//   color: rgba(251, 114, 8, 1);
//   fill: rgba(251, 114, 8, 1);
// }

// .advantages__item--sixth {
//   color: rgba(134, 187, 42, 1);
//   fill: rgba(134, 187, 42, 1);
// }
