.advantages {
  background-color: rgba(134, 187, 42, 0.1);
}

.advantages__title {
  margin-bottom: 20px;
}

.advantages__description {
  margin-bottom: 44px;

  @include font(18px, 30px, 0.02em, 400);
}

.advantages__list {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}
.advantages__item {
  flex-basis: calc(100% / 2 - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 22px;
  padding-left: 22px;
  min-height: 133px;
  background: #ffffff;
  text-align: center;
  @include font(11px, 15px, 0em, 400);
}

// .advantages__item:not(:last-child) {
//   margin-bottom: 30px;
// }

// .advantages__item:not(:nth-child(even)) {
//   margin-right: 30px;
// }

// .advantages__item:nth-child(2) {
//   margin-top: 35px;
// }

.advantages__item:not(:nth-child(even)) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.advantages__item:nth-child(even) {
  margin-top: 35px;
}

.advantages__item:last-child {
  margin-top: 30px;
}

.advantages__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: var(--accent-color);
}

.advantages__item--first {
  color: rgba(20, 71, 134, 1);
  fill: rgba(20, 71, 134, 1);
}
.advantages__item--second {
  color: rgba(102, 67, 117, 1);
  fill: rgba(102, 67, 117, 1);
}
.advantages__item--third {
  color: rgba(180, 5, 96, 1);
  fill: rgba(180, 5, 96, 1);
}
.advantages__item--fourth {
  color: rgba(238, 13, 49, 1);
  fill: rgba(238, 13, 49, 1);
}

.advantages__item--fifth {
  color: rgba(251, 114, 8, 1);
  fill: rgba(251, 114, 8, 1);
}

.advantages__item--sixth {
  color: rgba(134, 187, 42, 1);
  fill: rgba(134, 187, 42, 1);
}
