.advantages__title {
  margin-bottom: 20px;
}

.advantages__description {
  margin-bottom: 44px;

  @include font(18px, 30px, 0.02em, 400);
}

.advantages__list {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}
.advantages__item {
  flex-basis: calc(100% / 2 - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 22px;
  padding-left: 22px;
  min-height: 133px;
  background: #f7f7f7;
  text-align: center;
  @include font(11px, 15px, 0em, 400);
}


// .advantages__item:not(:last-child) {
//   margin-bottom: 30px;
// }

// .advantages__item:not(:nth-child(even)) {
//   margin-right: 30px;
// }

// .advantages__item:nth-child(2) {
//   margin-top: 35px;
// }

.advantages__item:not(:nth-child(even)) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.advantages__item:nth-child(even) {
  margin-top: 35px;
}

.advantages__item:last-child {
  margin-top: 30px;
}

.advantages__icon{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: var(--accent-color);
}

