.hero {
  padding-top: 208px;
  // background-image: linear-gradient(
  //     rgba(25, 28, 38, 0.2),
  //     rgba(25, 28, 38, 0.2)
  //   ),
  //   url(../images/hero/img-t-mobile.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: rgba(134, 187, 42, 0.1);
  // max-width: 480px;
  height: 580px;
  margin: 0 auto;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    // background-image: linear-gradient(
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url(../images/hero/img-t-mobile.jpg);
  }
}

.hero__left-side {
  display: none;
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--title-font);
  @include font(48px, 56px, 0.05em, 700);
}

.hero__description {
  max-width: 306px;
}
