:root {
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --title-text-color: #303030;
  --white-theme-text-color: #555555;
  --dark-theme-text-color: #9da4bd;
  --accent-color: rgba(134, 187, 42, 1);
}
